---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Stats from '../components/Stats.astro';
import Tabs from '../components/Tabs.astro';
---
<Layout>
    <Navbar />

    <div class="motivasi-header">
        <h1>Hai, apa yang ingin kita <span>latih hari ini?</span></h1>
    </div>

    <main>
        <Tabs />
    </main>

    <Stats />

    <script src="../scripts/app.js"></script>
</Layout>